<nav class="navbar navbar-light bg-white">
    <a href="/" class="navbar-brand" style="font-weight: bold;">HỆ THỐNG THÔNG TIN SINH VIÊN</a>
</nav>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <img class="avatar" src="{{avatar}}" alt="Avatar">
                    <br>

                    <a href="/profile-user" id="username" class="h5">{{username}}</a>

                    <div class="h7 text-muted">{{email}}</div>


                </div>
                <ul class="list-group list-group-flush">


                    <li class="list-group-item">
                        <a href="/" id="allpost">
                            <div class="h6 text-muted">Back to Home Page</div>
                        </a>

                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-6 gedf-main">

            <!-- Post /////-->

            <div class="" id="status">
                {{#each result}}
                <div class="form-control" id={{_id}}>
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="{{avatar}}" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0" id="display-name">{{creator}}</div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2" id="datetime"> <i class="fa fa-clock-o"></i>{{created_at}}</div>
                        <p id="user-status" class="card-text">
                            {{content}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
                        <a class="card-link" id="comment" data-toggle="modal" data-target="#commentModal"><i
                                class="fa fa-comment"></i> Comment</a>
                        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>


    </div>
</div>