<form method="POST" id="profile-form">
    <div class="container">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav>
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div id="avatar" class="user-avatar">
                                    <img src="{{avatar}}">
                                </div>
                                <h5 id="name" class="user-name">{{name}}</h5>
                                <h6 id="email" class="user-email">{{email}}</h6>
                                {{!-- <div class="avatar" id="id" style="display: none;">{{id}}</div> --}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control" id="fullname" placeholder="Name"
                                        value="{{name}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Email</label>
                                    <input type="email" class="form-control" id="eMail" placeholder="{{email}}"
                                        disabled>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Lớp</label>
                                    <input type="text" class="form-control" name="lop" id="lop" placeholder="Lớp"
                                        value="{{lop}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="school">Khoa</label>
                                    <br>
                                    <input type="text" class="form-control" id="khoa" name="khoa" placeholder="Khoa"
                                        value="{{khoa}}">
                                    {{!-- <select name=" khoa" class="khoa" id="khoa">
                                        <option value="Công nghệ thông tin">CNTT</option>
                                        <option value="Toán thống kê"> TTK</option>
                                        <option value="Ngoại ngữ">NN</option>
                                        <option value="Công nghệ sinh học">CNSH</option>
                                    </select> --}}
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a href="/"> <button type="button" id="cancel" name="submit"
                                            class="btn btn-secondary">Cancel</button></a>
                                    <button id="btn_Submit" name="submit" type="submit"
                                        class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>